/TypeSystem.xml
/ast-test.txt.xmi
/ca-test.txt.xmi
/cy-test.txt.xmi
/de-test.txt.xmi
/en-test.txt.xmi
/es-test.txt.xmi
/fr-test.txt.xmi
/gl-test.txt.xmi
/it-test.txt.xmi
/nb-test.txt.xmi
/pt-test.txt.xmi
/ru-test.txt.xmi
/sv-test.txt.xmi
